@font-face {
    font-family: "SF-Pro";
    src: url("../../fonts/SF-Pro.ttf");
}

@font-face {
    font-family: "SF-Pro-Italic";
    src: url("../../fonts/SF-Pro-Italic.ttf");
}

body {
    background-color: #141416;
}

h1 {
    color:pink;
    font-family: SF-Pro;
}