
h2 {
    background: linear-gradient(90deg, #FE8C00 0%, #F83600 96.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 60px;
    font-style: normal;
    padding-left: 20px;
}

.slideshow{
    max-width: 1400px;
    position: relative;
    margin: auto;
}

/* hide the images by default */
.cinema_slide{
    display: none;
    text-align: center;
}

.cinema_slide img{
    width:1400px;
}

.cinema_description{
    font-family: "SF-Pro";
    color:#FE8C00;
    font-size: 40px;
    text-align: center;
    margin-top: 80%;
    margin: 0px 20%;
}

.prev_button, .next_button {
    cursor: pointer;
    user-select: none;
    color:white;
    font-size: 50px;
  }

  .next_button {
    padding-left: 1400px;
  }

  .prev_button:hover,.next_button:hover{
    color:#FE8C00;
  }

  .slide_indicator{
    text-align:center;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.25s ease;
  }

.dot:hover{
    background-color: #FE8C00;
  }

.dot-active{
    background-color: #FE8C00;
}



