html {
  scroll-behavior: smooth; /*when redirect to another link, it will be a scrolling animation instead of a jump animation*/
}

body {
  margin-top: 0px;
}

.trailer-container {
  width: 100%;
  height: 1000px;
  position: relative;
}

#opening-trailer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-chevron-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(20, 20, 22, 1),
    rgba(20, 20, 22, 0.2),
    rgba(20, 20, 22, 0.1),
    rgba(20, 20, 22, 0)
  );
  background-clip: content-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.chevron {
  margin-bottom: 150px;
  cursor: pointer;
  opacity: 0.3;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s;
}

.chevron:hover {
  opacity: 1;
  transform: scale(1.2);
}

.top5-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.horizontal-scroll-container {
  overflow: hidden;
  white-space: nowrap;
}

.horizontal-scroll-container:hover {
  overflow-x: scroll;
}

/* width */
.horizontal-scroll-container::-webkit-scrollbar {
  width: 100px;
}

/* Track */
.horizontal-scroll-container::-webkit-scrollbar-track {
  background: #151515;
  border-radius: 20px;
}

/* Handle */
.horizontal-scroll-container::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 20px;
}

/* Handle on hover */
.horizontal-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}

#top5-card-list {
  display: flex;
  padding-bottom: 20px;
}

.top5-Card {
  width: 620px;
  height: 480px;
  padding: 0px 40px;
  position: relative;
}

.top5-Card:hover {
  cursor: pointer;
}

.rank-number {
  position: absolute;
  top: -80px;
  left: 0px;
  font-size: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.071);
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #fe5000;
}

.top5-movie {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top5-movie img {
  width: 540px;
  height: 360px;
  border-radius: 30px;
}

.top5-movie p {
  color: white;
}

.recommended-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

#recommended-card-list {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recommended-card {
  width: 400px;
  height: 520px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommended-card:hover {
  cursor: pointer;
}

.recommended-card img {
  width: 360px;
  height: 480px;
  border-radius: 30px;
}

.recommended-card p {
  color: white;
}

/* Cinema Additional Contents*/
.cinema-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
}

.cinema-hall-content {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0px;
  color: #ffffff;
}

.cinema-hall-content img {
  width: 65%;
}

.cinema-hall-content h3 {
  font-size: 3em;
  padding: 0px 30px;
}

.cinema-hall-content p {
  font-size: 1.5em;
  padding: 0px 30px;
}

.cinema-speakers-content {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: #000000;
}

#dolby-atmos {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.dolby-atmos-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 90%;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(20, 20, 22, 1),
    rgba(20, 20, 22, 0)
  );
  background-clip: content-box;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.dolby-atmos-description h3 {
  font-size: 3em;
  padding: 0px 15%;
}

.dolby-atmos-description p {
  font-size: 1.5em;
  padding: 0px 15%;
}

.cinema-imax-content {
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.cinema-imax-content img {
  width: 100%;
}
