p {
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.done-button {
  margin-top: 50px;
}
