html {
  scroll-behavior: smooth; /*when redirect to another link, it will be a scrolling animation instead of a jump animation*/
}

#detail-container {
  width: 100%;
  height: 1080px;
  position: relative;
}

.movie-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.movie-poster img {
  width: 100%;
  height: 100%;
}

.detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(20, 20, 22, 1),
    rgba(20, 20, 22, 0)
  );
  background-clip: content-box;
}

.detail {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-title {
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

.movie-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: 10px 30px;
  color: #bfbfbf;
  font-size: 1.75em;
}

.tag-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.indicator-icon {
  width: 30px;
  height: 30px;
  padding-right: 20px;
}

.movie-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  padding: 30px 100px;
  text-align: justify;
}

.book-button {
  margin-top: 100px;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
}

.location-card {
  width: 90%;
  background-color: #1f1f1f;
  border-radius: 30px;
  border: 1px solid rgba(254, 140, 0, 1);
  display: grid;
  gap: 10px 100px; /*row gap | column gap*/
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto;
  padding: 20px 30px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0px;
}

.location-cell {
  grid-column: 1;
  grid-row: 1;
}

.timeslot-title-cell {
  grid-column: 2;
  grid-row: 1;
}

.date-cell {
  grid-column: 1;
  grid-row: 2;
}

.date-picker {
  width: 150px;
  height: 60px;
  color: #ffffff;
  background-color: rgba(20, 20, 22, 0.5);
  border: 2px solid rgba(254, 140, 0, 1);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  margin-top: 20px;
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

#timeslot-cell {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  /* row-gap: 10px; */
  column-gap: 2.5em;
}

#timeslot-cell-0 {
  /*Jurong East Timing*/
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  /* row-gap: 10px; */
  column-gap: 2.5em;
}

#timeslot-cell-1 {
  /*Orchard Timing*/
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  /* row-gap: 10px; */
  column-gap: 2.5em;
}

#timeslot-cell-2 {
  /*Tampines Timing*/
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  /* row-gap: 10px; */
  column-gap: 2.5em;
}

.timeslot-card {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  margin: 20px 0px;
  background-color: rgba(20, 20, 22, 0.5);
  border: 2px solid rgba(254, 140, 0, 1);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.timeslot-card:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #fe8c00;
}

.timeslot-card:active {
  background-color: #141416;
}
